@model RadarAPI.Models.Login
@{
    ViewBag.Title = "Aanmelden";
}



<div class="container">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class="form-signin", @role="form"}))
    {
        <h2 class="form-signin-heading">Aanmelden bij RADAR</h2>
 
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Hidden("redirectUrl", (object)ViewBag.redirectUrl.ToString())
        @Html.TextBoxFor(model => model.Email, new { @class="form-control", autofocus="autofocus", placeholder = "Email", required="required", type="email" })
        @Html.ValidationMessageFor(model => model.Email)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Paswoord", required="required" })
        <input type="submit" value="Aanmelden" class="btn btn-lg btn-primary btn-block" />
    }
</div>