@model RadarAPI.Models.Register
@{
    ViewBag.Title = "Registreren";
}

<div class="container login">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class="form-signin", @role="form" }))
{
    <h1 class="form-signin-heading">Registreren bij <strong>RADAR</strong></h1>
    <h2>Profielgegevens</h2>
    <hr />
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.LabelFor(m => m.Username)
    @Html.ValidationMessageFor(model => model.Username)
    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Naam en voornaam" })
    
    @Html.LabelFor(m => m.Email)
    @Html.ValidationMessageFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Emailadres" })
    
    @Html.LabelFor(m => m.Password)
    @Html.ValidationMessageFor(model => model.Password)
    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Paswoord" })
    
    @Html.LabelFor(m => m.PasswordRepeat)
    @Html.ValidationMessageFor(model => model.PasswordRepeat)
    @Html.PasswordFor(model => model.PasswordRepeat, new { @class = "form-control", placeholder = "Paswoord verificatie" })
    
    @Html.LabelFor(m => m.Gender)
    <div>
        <label>@Html.RadioButtonFor(m => m.Gender, true, new { @checked="checked"}) Man</label>
        <label>@Html.RadioButtonFor(m => m.Gender, false) Vrouw</label>
    </div>
        
    @Html.LabelFor(m => m.DateOfBirth)
    @Html.ValidationMessageFor(model => model.DateOfBirth)
    @Html.TextBoxFor(model => model.DateOfBirth, new { type="date", @class = "form-control" })
    
    @Html.LabelFor(m => m.Bio)
    @Html.ValidationMessageFor(model => model.Bio)
    @Html.TextAreaFor(m => m.Bio, new { @class = "form-control", placeholder = "Bio" })
    
    
    <h2>Locatie</h2>
    <hr />
    @Html.LabelFor(m => m.Location.Street)
    @Html.ValidationMessageFor(model => model.Location.Street)
    @Html.TextBoxFor(model => model.Location.Street, new { @class = "form-control", placeholder = "Straat" })
    
    @Html.LabelFor(m => m.Location.Number)
    @Html.ValidationMessageFor(model => model.Location.Number)
    @Html.TextBoxFor(model => model.Location.Number, new { @class = "form-control", placeholder = "Huisnummer" })
    
    @Html.LabelFor(m => m.Location.Box)
    @Html.ValidationMessageFor(model => model.Location.Box)
    @Html.TextBoxFor(model => model.Location.Box, new { @class = "form-control", placeholder = "Bus" })
    
    @Html.LabelFor(m => m.Location.City)
    @Html.ValidationMessageFor(model => model.Location.City)
    @Html.TextBoxFor(model => model.Location.City, new { @class = "form-control", placeholder = "Stad" })
    
    @Html.LabelFor(m => m.Location.Zipcode)
    @Html.ValidationMessageFor(model => model.Location.Zipcode)
    @Html.TextBoxFor(model => model.Location.Zipcode, new { @class = "form-control", placeholder = "Postcode" })
    
    @Html.LabelFor(m => m.Location.Country)
    @Html.ValidationMessageFor(model => model.Location.Country)
    @Html.TextBoxFor(model => model.Location.Country, new { @class = "form-control", placeholder = "Land" })
    
    <input type="submit" value="Registreer" class="btn btn-lg btn-success btn-block" />
        
}
</div>